{% form_theme form 'WsEventsBundle:Form:block-form-event.html.twig' %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <table class="form-table">
            <tr class="form-row">
                <td>
                    {{ form_row(form.sport,{ 
                        'attr': { 'placeholder':"Activité ?", "class":"sportSelection"},
                        'icon':"ws-icon-running" }
                     ) }}
                </td>
                <td class="cell-title {% if form.title.vars.errors|length %}cell-error{% endif %} {% if form.title.vars.value %}cell-filled{% endif %}">
                    
                    <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un titre ?</a>
                    <div class="hidden">
                        {{ form_row(form.title,{ attr:{ placeholder:"Titre" }} ) }}    
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>                               
                    </div>
                </td>
            </tr>
            <tr class="form-row">
                <td>
                    {{ form_row(form.spot.spot_id) }}
                    {{ form_row(form.spot.spot_slug, {
                        'attr':{
                            'style':"width:100%",
                            'placeholder':"Lieu ?",
                            'data-template-header':'<div class="tt-info tt-info-header">Veuillez choisir un lieu ci-dessous :</div>',
                            'data-template-footer':'<div class="tt-info tt-info-footer">ou vous pouvez en créer un nouveau via le formulaire de droite</div>',
                            'data-template-empty':"<div class=\"tt-info tt-info-empty\">Pas de lieu trouvé... Merci de le créer en utilisant le formulaire d'à côté !!</div>"
                            },
                        'icon': "ws-icon-location2"
                        }
                     ) }}
                </td>
                <td class="cell-new-spot {% if form.spot.location.city_name.vars.errors|length %}cell-error{%endif %} {% if form.spot.location.city_name.vars.value %}cell-filled{% endif %}">
                    <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Créer un nouveau lieu ?</a>
                    <div class="hidden">
                        {{ form_widget(form.spot.location.city_id) }}
                        {{ form_row(form.spot.location.city_name,{ attr:{ placeholder:"Entrer une ville" }} ) }}
                        {{ form_row(form.spot.name,{ attr:{ placeholder:"Entrer le nom de l'endroit" }} ) }}
                        {{ form_row(form.spot.address,{ attr:{ placeholder:"Entrer l'adresse exacte" }} ) }}       
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>                 
                    </div>
                   
                </td>
            </tr>
            <tr class="form-row">
                <td class='cell-date'>
                    {{ form_row(form.date,{ 
                        'attr':{ 
                            'placeholder':"Date ?",
                            'class':"with_date_picker"
                            },
                        'icon':"ws-icon-calendar2"}
                    ) }}
                </td>
                <td class="cell-recur-date {% if form.serie.startdate.vars.errors|length or form.serie.enddate.vars.errors|length or form.serie.vars.errors|length %}cell-error{% endif %} {% if form.serie.startdate.vars.value or form.serie.startdate.vars.value %}cell-filled{% endif %}">
                    <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Toutes les semaines ?</a>
                    <div class="hidden">
                        {{ form_row(form.serie.startdate,{ attr:{ placeholder:"Date de début ?", 'class':"with_date_picker" }} ) }}
                        {{ form_row(form.serie.enddate,{ attr:{ placeholder:"Date de fin ?", 'class':"with_date_picker" }} ) }}
                        {{ form_row(form.serie,{ 'label': "Jour de la semaine ?"}) }}    
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>                            
                    </div>
                    
                </td>
            </tr>
            <tr class="form-row">
                <td class="cell-time">
                        {{ form_row(form.time,{ 
                            'attr':{ 'placeholder':"Heure ?", 'class':"with_time_picker" },
                            'icon':"ws-icon-alarm" 
                            })
                        }}                                                 
                </td>
                <td></td>
            </tr>
            <tr class="form-row">
                <td class="cell-description cell-optional {% if form.description.vars.errors|length %}cell-error{% endif %} {% if form.description.vars.value %}cell-filled{% endif %}">
                     <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter une description ?</a>
                    <div class="hidden">
                        {{ form_row(form.description,{ 
                            'attr':{ 'placeholder':"Description ?" },
                            'icon': 'ws-icon-book'
                            })
                        }}   
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>                        
                    </div>
                    
                </td>
                <td></td>
            </tr>
            <tr class="form-row">
                <td class="cell-nbmin cell-optional {% if form.nbmin.vars.errors|length %}cell-error{% endif %} {% if form.nbmin.vars.value %}cell-filled{% endif %}">
                     <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un nombre minimum ?</a>
                    <div class="hidden">
                        {{ form_row(form.nbmin,{ 
                            'attr':{ 'placeholder':"Nombre minimum ?" },
                            'icon': 'ws-icon-users',
                            'info' : "L'activité sera confirmé uniquement si le nombre minimum de participants est atteint."
                            })
                        }}    
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>                
                    </div>
                    
                </td>
                <td></td>
            </tr>
            <tr class="form-row">
                <td class="cell-level cell-optional {% if form.level.vars.errors|length %}cell-error{% endif %} {% if form.level.vars.value %}cell-filled{% endif %}">
                    <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un niveau de jeu ?</a>
                    <div class="hidden">
                        {{ form_row(form.level,{ 
                            'empty_value': 'Niveau de jeu ?',
                            'icon': 'ws-icon-star',
                            'info': "Le niveau de jeu est une indication pour les participants..."
                            })
                        }}  
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>            
                    </div>                            
                </td>
                <td></td>
            </tr>
            <tr class="form-row">
                <td class="cell-price cell-optional {% if form.price.vars.errors|length %}cell-error{% endif %} {% if form.price.vars.value %}cell-filled{% endif %}">
                    <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un prix ?</a>
                    <div class="hidden">
                        {{ form_row(form.price,{ 
                            'icon': 'ws-icon-info',
                            'info': "Frais de location de salle, de terrain, frais divers... (en €)"
                            })
                        }}  
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>            
                    </div>                            
                </td>
                <td></td>
            </tr>
            <tr class="form-row">
                <td class="cell-invitations cell-optional">
                   <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Inviter des amis ?</a>
                    <div class="hidden">
                        {{ form_row(form.invitations.emails,{ 
                            'attr':{ 'placeholder':"Emails d'amis ?", 'style':"width:100% !important;" },
                            'icon': 'ws-icon-envelop' 
                            })
                        }}
                        {{ form_row(form.invitations.content,{ 'attr':{ 'placeholder':"Leurs dire un pti mot ?", 'rows':"5"}} ) }}
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span></a>            
                    </div>   
                </td>
                <td></td>
            </tr>
            <tr class="form-row">
                <td class="cell-public cell-optional {% if form.public.vars.value == false %}cell-filled{% endif %}">
                    <a class="open-field" href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Rendre privé ?</a>
                    <div class="hidden">
                        <div class="switchButton">
                            {{ form_widget(form.public) }}
                            <label for=""><i></i></label>                        
                        </div>
                       <div class="form-info">En mode privé, l'activité n'apparait pas dans le calendrier.</div> 
                        <a class="close-field" href="javascript:return false;" onclick="$(this).parent().hide().prev().show()"><span class="ws-icon-cancel-circle"></span>                      
                    </div>  
                </td> 
                <td></td>             
            </tr>
            <tr class="form-row">
                <td class="cell-submit" colspan="2">
                    <button type="submit" class="btn-ws btn-ws-big btn-ws-submit">Sauvegarder</button>
                </td>
            </tr>
                        
        </table>    
        
    {{ form_end(form) }}           
