{% extends '::layout_centered.html.twig' %}
{% form_theme form 'WsEventsBundle:Form:fields_creation.html.twig' %}


{% block page_content %}

    <div class="create-event">
        <div class="fresque"></div>
        <div class="white-sheet">           
            <div class="head-sheet">        
                <h1 class="title-sheet">
                    Proposer une activité !
                </h1>
            </div>

        <div class="form">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                <table class="form-fields">
                    <tr>
                        <td>
                            {{ form_row(form.sport) }}
                        </td>
                        <td class="cell-title">
                            <a href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un titre ?</a>
                            <div class="hidden">
                                {{ form_row(form.title)}}    
                                <a href="javascript:return false;" onclick="$(this).parent().hide().prev().show()">x</a>                               
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_row(form.spot.spot_id) }}
                            {{ form_row(form.spot.spot_slug, {attr:{style:"width:100%"}}) }}
                        </td>
                        <td>
                            <a href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un lieu ?</a>
                            <div class="hidden">
                                {{ form_widget(form.spot.location.city_id) }}
                                {{ form_row(form.spot.location.city_name) }}
                                {{ form_row(form.spot.name )}}
                                {{ form_row(form.spot.address) }}       
                                <a href="javascript:return false;" onclick="$(this).parent().hide().prev().show()">x</a>                 
                            </div>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_row(form.date) }}
                        </td>
                        <td>
                            <a href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Date récurrente ?</a>
                            <div class="hidden">
                                {{ form_row(form.serie.startdate) }}
                                {{ form_row(form.serie.enddate) }}
                                {{ form_row(form.serie) }}    
                                <a href="javascript:return false;" onclick="$(this).parent().hide().prev().show()">x</a>                            
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                                {{ form_row(form.time) }}                                                 
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <a href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter une description ?</a>
                            <div class="hidden">
                                {{ form_row(form.description) }}   
                                <a href="javascript:return false;" onclick="$(this).parent().hide().prev().show()">x</a>                        
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <a href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un nombre minimum ?</a>
                            <div class="hidden">
                                {{ form_row(form.nbmin) }}    
                                <a href="javascript:return false;" onclick="$(this).parent().hide().prev().show()">x</a>                
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un niveau de jeu ?</a>
                            <div class="hidden">
                                {{ form_row(form.level) }}  
                                <a href="javascript:return false;" onclick="$(this).parent().hide().prev().show()">x</a>            
                            </div>                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn-ws btn-small">Sauvegarder</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_row(form.invitations.emails) }}
                        </td>
                        <td>
                            <a href="javascript:return false;" onclick="$(this).next().show();$(this).hide();">Ajouter un petit mot ?</a>
                            <div class="hidden">
                                {{ form_row(form.invitations.content) }}
                                <a href="javascript:return false;" onclick="$(this).parent().hide().prev().show()">x</a>            
                            </div>       
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn-ws btn-small">Sauvegarder et Envoyer les invitations</button>
                        </td>
                    </tr>
                </table>    
                
            {{ form_end(form) }}
                   
        </div>

        <div class="col_small">

             <div class="block block-yellow ">
                <h3>Comment ça marche?</h3>
                <div class="block-content">
                    <ul class="event-create-howto">
                        <li>
                            Vous pouvez créer une activité à une <strong>date précise</strong> ou à une <strong>date régulière</strong>.<small> (ex: tous les lundis et mercredi du mois de Juin)</small>
                        </li>
                        <li>
                            L'activité est <strong>confirmé</strong> quand le nombre minimum attendu <strong>est atteint</strong>. <small>Les participants recoivent un email confirmant que l'activité a bien lieu.</small>
                        </li>
                        <li>
                            L'adresse et le téléphone ne sont <strong>visible que par</strong> les membres We-Sport inscrits.
                        </li>
                        <li>
                            Tous les champs sont <strong>obligatoires</strong>, sauf le téléphone.
                        </li>
                        <li>
                            L'annonce est <strong>modifiable</strong> jusqu'à ce que l'activité soit <strong>confirmé</strong>. <small>Les changements sont envoyés par email aux participants déjà inscrits.</small>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
        
        <div class="clearfix"></div>
        <div class="fresque"></div>
    
    </div>
    
{% endblock %}

