{% extends '::base.html.twig' %}
{% form_theme form 'WsEventsBundle:Form:block-form-inline.html.twig' %}

{% block body %}

	{% block autolocation %}
		
		{% include 'WsEventsBundle:Calendar:autolocation.html.twig' with {'search':search}  %}

	{% endblock %}


	{% block flash %}
	    {{ flashbag_all() }}
	{% endblock %}

	{% block search_calendar %}
		
		<form id="calendar-search" action="{{ path('ws_calendar_update') }}" method="POST">

			<table class="calendar-form">
				<tr class="calendar-form-main">					
					<td class="calendar-form-main-left">


						<label for="{{ form.sports.vars.id }}">Je veux du </label>
						<select name="{{form.sports.vars.full_name }}" id="{{ form.sports.vars.id }}" class="{{ form.sports.vars.attr.class }}" multiple="{{ form.sports.vars.multiple }}" placeholder="sports" tabindex="-1">
							{% for category,choices in form.sports.vars.choices %}
								<optgroup label="{{ category }}">
									{% for sport in choices %}
										<option value="{{ sport.data.id }}" data-icon="{{ sport.data.icon }}">{{ sport.data.name }}</option>
									{% endfor %}
								</optgroup>
							{% endfor %}

						</select>
					
						{% if form.location.city_name.vars.data is not null %}{% set label = "dans ma ville "%}{% else %}{% set label = "dans ma "%}{% endif %}
						{{ form_row(form.location.city_id) }}
						{{ form_row(form.location.city_name,{
							'label': label,
							'required':false,
							'attr':{
									'placeholder':"ville"
								}
						}) }}	

						{{ form_row(form._token) }}
						
						<button type="submit"><span class="ws-icon ws-icon-loupe"></span></button>									
							
					</td>

					<td class="calendar-form-main-right">
						<a href="{{ path('ws_calendar_reset') }}"><strong>Réinitialiser</strong> la recherche</a><br>
						<a class="btn-link" href="{{ path('ws_alerts_create')}}?url={{ search.url }}"><strong>Créer une alerte</strong> pour cette recherche</a><br>
						<a href="javascript:;" id="calendar-form-options-toggle" class="btn-link"><strong>Plus d'options ?</strong> </a><br>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="calendar-form-options">
						<div id="calendar-form-options-container">
							
							{{ form_row(form.area,{
								'label':"Dans un rayon de ",														
								'attr': {
										'data-placeholder':"indifférent"
								}
							})}}

							{{ form_row(form.type,{
								'label':"organisé par ",
								'empty_value': "tous",
							})}}

							{{ form_row(form.level,{
								'label':"d'un niveau ",
							})}}

							{{ form_row(form.price,{
								'label':"d'un prix ",				
								'attr': {
										'data-placeholder':"indifférent"
								}
							})}}
							
						</div>
					</td>
				</tr>
			</table>
			
	{% endblock %}

	
	<div class="calendar" id="calendar">		

		<div class="calendar-header">
			<div class="header-part week-nav previousWeek">
				<a class="calendar-nav-prev calendar-nav-link" id="colomn-prev-arrow" title="Semaine précédante" href="" draggable="false">AVANT</a>
			</div>
			

			<div class="header-part calendar-arianne">
				<table>
					<tr>
						<td>
								{% if search.sports is not null %}
								{% for sport in search.sports %}
									<span class="ws-icon ws-icon-{{ sport.icon }}"></span><strong>{{ sport.name }}</strong>
									{% if not loop.last %}<span> + </span>{% endif %}
								{% endfor %}
								{% endif %}

								{% if search.location is not null %}
								<span>à</span> <span class="ws-icon ws-icon-location" style="color:white"></span>{{ search.getHtmlLocationString()|raw }}
								{% endif %}

								{% if search.hasType %} 
									<span>organisé par </span>
									{% for type in search.type %}
											<strong>{{ type|trans({},'WsEventsBundle_event') }}</strong>
									{% endfor %}
								{% endif %}

								{% if search.hasLevel %} 
									<span>d'un niveau </span>
									{% for level in search.level %}
											<strong>{{ level|trans({},'WsEventsBundle_event') }}</strong>
									{% endfor %}
								{% endif %}

								{% if search.hasPrice %} 
									<span>d'un prix inférieur à </span><strong>{{ search.price }}€ </strong>
								{% endif %}							
						</td>
					</tr>
				</table>
			</div>

			<div class="header-part calendar-loading">
				<div class="calendar-loader" id="calendar-loader">
					<img class="loading-bar" src="{{ asset('bundles/wsstyle/img/ajax-loader-bar.gif') }}" title="Chargement..." /><					
				</div>					
			</div>

			<div class="header-part calendar-event-type">
				{#
				<div class="typeChoice">
					<input type="checkbox" name="type[]" id="type-person" value="person" {% if ('person' in search.type) or ( search.type is null) %} checked="checked"{% endif %}>
					<label for="type-person" class="typeLabel">
						Particulier
					</label>
				</div>
				<div class="typeChoice">
					<input type="checkbox" name="type[]" id="type-asso" value="asso" {% if ('asso' in search.type) or ( search.type is null) %} checked="checked"{% endif %}>
					<label for="type-asso" class="typeLabel">
						Association
					</label>
				</div>
				<div class="typeChoice">
					<input type="checkbox" name="type[]" id="type-pro" value="pro" {% if ('pro' in search.type) or ( search.type is null) %} checked="checked"{% endif %}>
					<label for="type-pro" class="typeLabel">
						Professionel
					</label>
				</div>
				#}
			</div>

			{#
			<div class="header-part calendar-period">
				<strong>Jours</strong>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period1" name="nbdays" value="1" >
					<label for="period1">1</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period2" name="nbdays" value="2" >
					<label for="period2">2</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period3" name="nbdays" value="3" >
					<label for="period3">3</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period4" name="nbdays" value="4" >
					<label for="period4">4</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period5" name="nbdays" value="5" >
					<label for="period5">5</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period6" name="nbdays" value="6" >
					<label for="period6">6</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period7" name="nbdays" value="7" >
					<label for="period7">1 semaine</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period8" name="nbdays" value="14" 	
					<label for="period8">2 semaines</label>
				</div>
				<div class="periodChoice">
					<input type="radio" class="periodRadio" id="period9" name="nbdays" value="28">
					<label for="period9">1 mois</label>
				</div>
			</div>
			#}
			

			<div class="header-part week-nav nextWeek">
				<a class="calendar-nav-next calendar-nav-link" id="colomn-next-arrow" title="Semaine suivante" href="" draggable='false' >APRES</a>
			</div>			
		</div>

		<div class="calender-sports-choices">			
			{% for sport in search.sports %}
				<div class="sport-choice tooltipbottom" data-toggle="tooltip" title="Supprimer {{ sport.name }}">
					<input type="checkbox" name="sports[]" id="sport-{{ sport.slug }}" class="ajax-refresh" value="{{ sport.id }}" checked="checked">
					<label for="sport-{{ sport.slug }}" class="sport-label">
						<span class="ws-icon ws-icon-{{ sport.icon }}"></span>						
					</label>
					<span class="ws-icon icon-delete ws-icon-close"></span>
				</div>
			{% endfor %}			
		</div>

		<table class="calendar-nav" >
			<tr>
				<td class="colomn-nav colomn-prev" id="colomn-prev">					
					<a class="calendar-nav-prev calendar-nav-link fleft" id="colomn-prev-arrow" title="Semaine précédante" href="" draggable="false"></a>
				</td>

				<td>
					<div class="calendar-content"
						id="calendar-content" 
						data-url-calendar="{{ path('ws_calendar_ajax')}}"
						data-url-calendar-prev="{{ path('ws_calendar_ajax',{date:'prev'})}}"
						data-url-calendar-next="{{ path('ws_calendar_ajax',{date:'next'})}}"
						data-url-calendar-now="{{ path('ws_calendar_ajax',{date:'now'})}}"
						data-url-calendar-bottom=""
						>

					{% block calendar_week %}
						{# inserted week #}
					{% endblock %}
						
					</div>
				</td>
			
				<td class="colomn-nav colomn-next" id="colomn-next">		
					<a class="calendar-nav-next calendar-nav-link fright" id="colomn-next-arrow" title="Semaine suivante" href="" draggable='false' ></a>
				</td>
			</tr>

		</table>
		<div class="calendar-footer" id="calendar-footer">
			<div class="calendar-loader"><img class="loadingbar" src="{{ asset('bundles/wsstyle/img/ajax-loader-bar.gif')}}" title="Chargement..." /></div>
		</div>
	</div>


	</form>


{% endblock %}

