{% extends '::base.html.twig' %}
{% form_theme form 'WsEventsBundle:Form:block-form-inline.html.twig' %}


{% block body %}

	{% block flash %}
	    {{ flashbag_all() }}
	{% endblock %}

	{% block search_calendar %}
		
		<form id="calendar-search" class="calendar-search-form" action="{{ path('ws_calendar_update') }}" method="POST">
			<div class="calendar-form-bar" id="calendar-form">

				<div class="calendar-submit">
					<button type="submit">
						<span class="shadow"></span>
						<span class="ws-icon ws-icon-loupe"></span>
					</button>											
				</div>

				<div class="calendar-form-rows">
					<div class="calendar-form-row-main" >	
						{% spaceless %}				
						<div class="calendar-form-cell-left">
							
							{# Je veux du Sports #}
							{{ form_label(form.sports,"Je veux du") }}
							{{ form_widget(form.sports) }}

						</div>							

						<div class="calendar-form-cell-right">

							{% block autolocation %}		
								{% include 'WsEventsBundle:Calendar:autolocation.html.twig' with {'search':search}  %}
							{% endblock %}

							{# dans ma Ville #}
							{% if form.location.city_name.vars.data is not null %}{% set label = "à "%}{% else %}{% set label = "à "%}{% endif %}	
							{{ form_label(form.location.city_name,label)}}						
							{{ form_widget(form.location.city_name,{
								'required':false,
								'attr':{
										'placeholder':"ville",
										'class': "city-autocomplete auto-adjust-width",
									}
							}) }}

							<div class="actions">
								<a class="calendar-action" href="javascript:;" id="calendar-form-options-toggle"><span class="ws-icon {% if search.hasArea or search.hasType or search.hasLevel or search.price %}ws-icon-arrow-down{% else %}ws-icon-arrow-right{% endif %}"></span><strong>Plus d'options </strong></a>
								<a class="calendar-action" href="{{ path('ws_alerts_create')}}?url={{ search.url }}"><span class="ws-icon ws-icon-envelop"></span><strong>M'envoyer par Email</strong></a>	
								<a class="calendar-action" href="{{ path('ws_calendar_reset') }}"><span class="ws-icon ws-icon-close"></span><strong>Réinitialiser</strong></a>						
							</div>
						</div>
						{% endspaceless %}
					</div>

					
				</div>
			</div>
			
	{% endblock %}


	<div class="calendar" id="calendar">		

		<div class="calendar-header">
			<div class="header-part calendar-loading" id="calendar-loader">Chargement...</div>

			<div class="header-part week-nav previousWeek">
				<a class="calendar-nav-prev calendar-nav-link" id="colomn-prev-arrow" title="Semaine précédante" href="" draggable="false">AVANT</a>
			</div>

			<div class="header-part calendar-arianne">
				
				<div class="calendar-form-row-options {% if search.hasArea or search.hasType or search.hasLevel or search.price %}open{% endif %}" id="calendar-form-options">
					{% spaceless %}
					<div class="calendar-form-cell-left">							
							{{ form_row(form._token) }}
							{{ form_row(form.location.city_id) }}

						<div class="option-field">
							<label>Organisé par </label>
							{{ form_widget(form.type,{
								'attr': {
									'data-placeholder':"indifférent"
								}
							})}}			
						</div>		

						<div class="option-field">
							<label>dans un rayon de</label>
							{{ form_widget(form.area,{														
								'attr': {
										'data-placeholder':"indifférent"
								}
							})}}
						</div>

					</div>
					<div class="calendar-form-cell-right">

						<div class="option-field">
							<label>d'un niveau</label>
							{{ form_widget(form.level,{
								'attr' : {
									'data-placeholder':"indifférent"
								}
							})}}
						</div>	

						<div class="option-field">
							<label>d'un prix</label>
							{{ form_widget(form.price,{			
								'attr': {
										'data-placeholder':"indifférent"
								}
							})}}
						</div>
							
					</div>
					{% endspaceless %}
				</form>
				</div>
			</div>

			<div class="header-part week-nav nextWeek">
				<a class="calendar-nav-next calendar-nav-link" id="colomn-next-arrow" title="Semaine suivante" href="" draggable='false' >APRES</a>
			</div>			
		</div>

		

		<table class="calendar-nav" >
			<tr>
				{% spaceless %}
				<td class="colomn-nav colomn-prev" id="colomn-prev">					
					<a class="calendar-nav-prev calendar-nav-link fleft" id="colomn-prev-arrow" title="Semaine précédante" href="" draggable="false"></a>
				</td>

				<td>
					<div class="calendar-content"
						id="calendar-content" 
						data-url-calendar="{{ path('ws_calendar_ajax')}}"
						data-url-calendar-prev="{{ path('ws_calendar_ajax',{date:'prev'})}}"
						data-url-calendar-next="{{ path('ws_calendar_ajax',{date:'next'})}}"
						data-url-calendar-now="{{ path('ws_calendar_ajax',{date:'now'})}}"
						data-url-calendar-bottom=""
						>

					{% block calendar_week %}
						{# inserted week #}
					{% endblock %}
						
					</div>
				</td>
			
				<td class="colomn-nav colomn-next" id="colomn-next">		
					<a class="calendar-nav-next calendar-nav-link fright" id="colomn-next-arrow" title="Semaine suivante" href="" draggable='false' ></a>
				</td>
				{% endspaceless %}
			</tr>

		</table>
		
	</div>


	


{% endblock %}

