<tr class="events-week">
	{% set i = 1 %}
	{% for date,events in week %}
		<td class="events-day colomn-{{i}} {% if date|date("Y-m-d") < "now"|date("Y-m-d") %}colomn-past{% endif %}" id="colomn-{{date}}" data-date="{{date}}" style="width:2%" >
			<div class="colomn-date" id="colomn-date-{{i}}">
				{% if date|date('Y-m-d') == 'now'|date('Y-m-d') %}
				<strong>Aujourd'hui</strong>
				{% else %}
				<strong>{{ date|date('l') }}</strong>
				{% endif %}
				<br>
				<span>{{ date|date('j M') }}</span>
			</div>

			{% for k,event in events %}
				{% include 'WsEventsBundle:Calendar:event.html.twig' with {'event':event} %}
			{% endfor %}

			<div class="addEvent" id="addPoint{{ date }}">
				<a title="Ajouter un sport" href="{{ path("ws_event_new") }}" draggable='false' ondragstart="return false;">
				<span class="ws-icon ws-icon-plus-alt"></span>
				<span class="ws-icon ws-icon-plus-alt ws-icon-fade"></span>
				<div>
					<strong>Ajouter un sport</strong>
					<small>le {{ date|date('j M') }}</small>
				</div>
				</a>
			</div>
		</td>

		{% set i = i + 1 %}
	{% endfor %}
</tr>