{% extends '::layout_centered.html.twig' %}

{% block page_content %}

    <div class="adminAlert">
        <div class="white-sheet">           
            <div class="head-sheet">        
                <h1 class="title-sheet">
                   ADMIN
                </h1>
            </div>

            <p>{{ alerts|length }} {{ type }} alertes</p>
            <p>{{ sended|length }} emails envoyés, {{ nb_events }} activités proposés</p>
            
            <table>
            {% for send in sended %}
              <tr>
                <td>
                    {{send.alert.user.email}} --> {{ send.events|length }} événements
                </td>
              </tr>
            {% endfor %}
            </table>

                   
        
        <div class="clearfix"></div>    
    </div>
    
{% endblock %}

