{% extends '::layout_centered.html.twig' %}

{% block page_content %}

    <div class="white-sheet alert-admin">          
            <div class="head-sheet">        
                <h1 class="title-sheet">
                   ADMIN
                </h1>
            </div>

            <p>{{ results.alerts|length }} {{ type }} alertes</p>
            <p>{{ results.sended|length }} emails envoyés</p>
            <p>{{ results.expired|length }} expiration</p>
            
            <table>
            {% for send in results.sended %}
              <tr>
                <td>
                    {{ send.alert }} --> {{ send.nbevents }} activités proposés
                </td>
              </tr>
            {% endfor %}
            </table>

    </div>
    
{% endblock %}

