{% extends '::layout_centered.html.twig' %}

{% block page_content %}

    <div class="indexAlert">
        <div class="fresque"></div>
        <div class="white-sheet">           
            <div class="head-sheet">        
                <h1 class="title-sheet">
                   Mes alertes
                </h1>
            </div>


           {% for alert in alerts %}
                   <table width="100%">
                       <tr>
                            <td>
                              Envoi {{ alert.frequency }}
                            </td>
                           <td>
                               Jusqu'au {{ alert.dateStop|date('Y-m-d') }}
                           </td>
                           <td>
                               à {{ alert.search.location.city.name }}
                           </td>                           
                           <td>
                             concernant : 
                             {% for sport in alert.search.sports %}
                             
                                  {{ sport.name }} ,
                              {% endfor %}
                           </td>
                           <td>
                             du type :
                             {% for type in alert.search.type %}
                              	{{ type }} ,
                             {% endfor %}
                           </td>
                           <td>
                           	de {{ alert.search.time.start }} à {{ alert.search.time.end }}
                           </td>
                           <td>
                           	d'un prix inférieur à {{ alert.search.price }}
                           </td>
                           <td>
                           {% if alert.search.organizer is not null %}
                           		de l'utilisateur {{ alert.search.organizer.username }}
                           	{% else %}
                           		de tous les utilisateurs
                           {% endif %}
                           </td>
                           <td>
                           	les jours suivant : 
                           	{% for day in alert.search.dayOfWeek %}
                           		{{ day }}
                           	{% endfor %}
                           </td>
                           <td>
                               <a href="{{ path('ws_alerts_delete',{alert:alert.id}) }}">Supprimer</a>
                           </td>
                       </tr>
                   </table>
            {% endfor %}

            {% if alerts is empty %}
              <p>Pas d'alerte créé. <a href="{{path('ws_alerts_create')}}">En créer une !</a></p>
            {% endif %}
                   
        <a href="{{ path('ws_alerts_create') }}">Créer une autre alerte</a>
        <div class="clearfix"></div>
        <div class="fresque"></div>
    
    </div>
    
{% endblock %}

