{% extends '::layout_centered.html.twig' %}

{% block page_content %}

    <div class="indexAlert">
        <div class="fresque"></div>
        <div class="white-sheet">           
            <div class="head-sheet">        
                <h1 class="title-sheet">
                   Mes alertes
                </h1>
            </div>

        <table class="list-table table-striped">

		{% for alert in alerts %}

			<tr class="{% if alert.active %}row-alert-active{% else %}row-alert-pending{% endif %}">
				<td class="cell-status">
					{% if alert.active %}
						<span class="ws-icon ws-icon-checkmark-circle"></span>
						En cours
					{% else %}
						<span class="ws-icon ws-icon-blocked"></span>
						Stopé
					{% endif %}		
				</td>

				<td class="cell-resume">					
					{{ alert|alertContext|raw }}								
				</td>

				<td class="cell-frequency">					
					{{ alert|alertFrequency|raw }}					
				</td>
				
				<td class='cell-action'>
					<p><a class="btn btn-mini" href="{{ path('ws_alerts_delete',{alert:alert.id}) }}">Supprimer</a></p>	

					{% if alert.active %}
						<p><a class="btn btn-mini" href="{{ path('ws_alerts_disable',{alert:alert.id}) }}">Désactiver</a></p>
					{% else %}
						<p><a class="btn btn-mini" href="{{ path('ws_alerts_enable',{alert:alert.id}) }}">Réactiver</a></p>
					{% endif %}
				</td>
			</tr>

		{% endfor %}

			<tr class="row-bottom">
				<td colspan="4">
					<a class="btn-ws btn-small" href="{{ path('ws_alerts_create') }}">Créer une alerte</a>	
					{% if alerts is empty %}
						<i>Pas encore d'alerte crées</i>
					{% endif %}
				</td>
			</tr>


         </table>
                   
        <div class="clearfix"></div>
        <div class="fresque"></div>
    
    </div>
    
{% endblock %}

