<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
           {% stylesheets
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
                'bundles/pinanoselect2/css/select2.css'
                'bundles/wssports/css/font-icons/style.css'
                'bundles/acmetwig/css/acme-bootstrap.css'
                'bundles/acmetwig/css/default.css'
                filter='lessphp,cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}  
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>


    <body>

        {# NAVBAR #}

        {% block navbar %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        {# knp_menu_render('main', {'template': 'MyPageBundle:Menu:main_menu.html.twig'}) #}
                        <ul class="nav">
                            <li class="brand">We-Sport</li>
                             {{ render(controller('MyPageBundle:Default:showMenu', {
                                'max': 3
                            })) }}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{path('page_new', {}) }}">Nouvelle page?</a></li>
                            {% endif %}
                            <li><a href="{{ path('blog_homepage')}}">Blog</a></li>
                        </ul>

                        <ul class="nav pull-right">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li><a href="{{path('fos_user_profile_edit') }}"><span class="nav-login">{{ app.user.username }}</span></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </li>
                            {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav pull-right lang-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Langue <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><i class="flag flag-fr"></i>Français</a></li>
                                    <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}"><i class="flag flag-uk"></i>English</a></li>
                                </ul>
                            </li>                          
                        </ul>                                            
                    </div>
                </div>
            </div>
        {% endblock %}


        <div class="container mainContainer">

            {% block flash %}
                {% for type,messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            {% block body %}{% endblock %}
        </div>


        {% block javascripts %}
            {% javascripts
                '../vendor/jquery/jquery/jquery-1.9.1.min.js'
                '../vendor/twitter/bootstrap/js/bootstrap-dropdown.js'
                '../app/Resources/public/js/*.js'
                '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
                '@PinanoSelect2Bundle/Resources/public/js/select2_locale_fr.js'
                '@WsSportsBundle/Resources/public/js/*.js'
                '@MyWorldBundle/Resources/public/js/*.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}


        <script type="text/javascript">
            $(document).ready(function() {
                {% block document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>
