<div class="navbar navbar-fixed-top navbar-ws">
     {% block flash %}
        {{ flashbag_all() }}
    {% endblock %}
    
    <div class="menu-desktop" id="menu-desktop">
        {# knp_menu_render('main', {'template': 'MyPageBundle:Menu:main_menu.html.twig'}) #}
        <ul class="nav">

            <li><a href="{{ path('ws_calendar') }}"><span class="ws-icon ws-icon-calendar2"></span> Calendrier</a></li>

            <li class="createbutton"><a href="{{ path('ws_event_new') }}"><span class="ws-icon ws-icon-stopwatch"></span> Créer</a></li>

             {{ render(controller('MyPageBundle:Menu:TopMenu', {
                'max': 3
            })) }}


        </ul>

        <ul class="nav pull-right">
            
            {% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED') == true %}
            <li class="dropdown accountbutton">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Bonjour
                    <img class="nav-avatar" src="{{ asset(app.user.avatar.getWebPath) }}" alt="" >
                    <span class="nav-username">{{ app.user.username|capitalize }}</span>
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="{{ path('fos_user_profile_edit', {action:'account' }) }}"><span class="ws-icon ws-icon-home"></span> Mon compte</a></li>
                    <li><a href="{{ path('ws_alerts_index') }}"><span class="ws-icon ws-icon-alarm"></span> Mes alertes</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('sonata_admin_dashboard') }}"><span class="ws-icon ws-icon-cog"></span> Administration</a></li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="ws-icon ws-icon-exit"></span> Déconnexion</a></li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li><a href="{{ path('sonata_admin_dashboard', {'_switch_user': '_exit'}) }}"><span class="ws-icon ws-icon-close"></span> Stop incarnation</a></li>
                    {% endif %} 
                </ul>
            </li>
            {% else %}

                <li><a href="{{ path('fos_user_security_login') }}"><span class="ws-icon ws-icon-enter"></span> Connexion</a></li>
                <li><a class="secondbutton" href="{{ path('fos_user_registration_register') }}"><span class="ws-icon ws-icon-user"></span> Inscription</a></li>
                
            {% endif %}

        </ul>

        <ul class="nav pull-right lang-menu">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Langue <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% if app.request.get('_route_params') is not null %}
                    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><i class="flag flag-fr"></i>Français</a></li>
                    <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}"><i class="flag flag-uk"></i>English</a></li>
                {% else %}
                    <li>Route params _locale is missing, the lang menu can not be displayed...</li>
                {% endif %}
                </ul>
                
            </li>                          
        </ul>   
    </div>                                                             

    {% include '::menu_mobile.html.twig' %}
</div>