{% block form_row %}
<div class="field_row field_{{ name }}  {% if valid == false %}field_error{% endif %}">
	
        {% if icon is defined %}
        	   <i class="icon {{ icon }}"></i>
        {% endif %}    

        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}

        {% if info is defined %}
            <div class="form-info">{{ info }}</div>
        {% endif  %}
</div>
{% endblock form_row %}