{% block form_row %}
<div class="field_row field_{{ name }}  {% if valid == false %}field_error{% endif %}">
	
        {% if icon is defined %}
        	   <i class="icon {{ icon }}"></i>
        {% endif %}    

       {{ form_label(form) }}
    {{ form_widget(form) }}

    {% if info is defined %}
    	<span class="form-info">{{ info }}</span>
    {% endif  %}
    {{ form_errors(form) }}
</div>
{% endblock form_row %}