		{# Les annonces de #}
		<span>Les annonces </span>
		
		{# Football Volley Kayak #}
		{% if alert.search.sports is not empty %}
			<span> des sports 
			{% for sport in alert.search.sports %}
				<strong> {{ sport.name}} </strong>
			{% endfor %}
			</span>
		{% endif %}
		
		{# à Montpellier #}
		{% if alert.search.location %}<span>à <strong>{{ alert.search.location.city.name }}</strong></span>{% endif %}

		{# étendu de 50km #}
		{% if alert.search.area %}<span> étendu de <strong>{{ alert.search.area }}km</strong></span>{% endif %}

		{# de niveau débutant #}
		{% if alert.search.hasLevel %}<span> de niveaux <strong>{% for level in alert.search.level %} {{ level|trans({},'WsEventsBundle_event') }} {% endfor %}</strong></span>{% endif %}

		{# organisé par #}
		{% if alert.search.hasType %}<span> organisé par les<strong>{% for type in alert.search.type %} {{ ('user.types.'~type)|trans({},'MyUserBundle') }} {% endfor %}</strong></span>{% endif %}

		{# d'un prix inférieur à #}
		{% if alert.search.price %}<span> d'un prix inférieur à <strong>{{ alert.search.price }}€</strong></span>{% endif %}

		{# les lundi mardi jeudi #}
		{% if alert.search.hasDayOfWeek %}<span> les <strong>{% for day in alert.search.dayOfWeek %} {{ ('days.day.'~day|lower)|trans({},'MyUtilsBundle') }}, {% endfor %}</strong></span>{% endif %}

		{# entre 10h et 14h #}
		{% if alert.search.hasTimeStart and alert.search.hasTimeEnd %}<span> entre <strong>{{ alert.search.timeStart|date('H\\hi') }}</strong></span> et <strong>{{ alert.search.timeEnd|date('H\\hi') }}</strong></span> 
		{% else %}
			{% if alert.search.hasTimeStart %}<span> aprés <strong>{{ alert.search.timeStart|date('H\\hi') }}</strong></span> {% endif %}
			{% if alert.search.hasTimeEnd %}<span> aprés <strong>{{ alert.search.timeEnd|date('H\\hi') }}</strong></span> {% endif %}
		{% endif %}

		{# de Organisateur #}
		{% if alert.search.organizer %}<span> de l'utilisateur <strong><a href="{{ alert.search.organizer|link2user }}">{{ alert.search.organizer.username|capitalize }}</a><strong></span>{% endif %}
