{% if key=='title' %}
	Le titre a changé: <strong>{{ change.post }}</strong>
{% endif  %}

{% if key=='location' %}
	La ville a changé: <strong> {{ change.post.city.name }}</strong>
{% endif  %}

{% if key=='sport' %}
	Le sport a changé: <strong> {{ change.post.name }}</strong>
{% endif  %}

{% if key=='price' %}
	Le prix passe de {{ change.pre }} à <strong>{{ change.post }} euros</strong>
{% endif  %}

{% if key =='time' %}
	L'heure passe de {{ change.pre|date('h:i') }} à <strong>{{ change.post|date('h:i') }}</strong>
{% endif %}

{% if key == 'date' %}
	L'activité aura lieu le <strong>{{ change.post|date('l d F') }}</strong> au lieu du {{ change.pre|date('l d F') }}
{% endif %}

{% if key == 'nbmin' %}
	Le nombre minium passe de {{ change.pre }} à <strong>{{ change.post }}</strong>
{% endif  %}

{% if key == 'nbmax' %}
	Le nombre maximum passe de {{ change.pre }} à <strong>{{ change.post }}</strong>
{% endif  %}

{% if key=='phone' %}
	Le numéro de contact a changé: <strong>{{ change.post }}</strong>
{% endif  %}

{% if key=='description' %}
	La description a changé:
	<p>
		<small>{{ change.post }}</small>
	</p>
{% endif  %}