<style type="text/css">
	.block_event { background-color: #FFF2DA; width:100%; padding:10px; border:1px solid #AAA; }
</style>
<table cellpadding="0" cellspacing="0" border="0" class="block_event" >
	<tbody>
		<tr>
			<td>
				<img src="{{ asset('bundles/wssports/img/sport_icon/' ~ event.sport.icon ~ '.gif') }}">
			</td>
			<td>
				<a href="{{ event|link2event }}">
					<strong> {{ event.title }}</strong>
				</a>
				<br>
				<small><strong>date:</strong></small> {{ event.date|localizeddate('full','none') }} à {{ event.time|date('h:i',"Europe/Paris") }}
				<br>
				<small><strong>à:</strong></small> {{ event.spot.location.city.name }}
			</td>	
		</tr>
	</tbody>
</table>