{% if key=='title' %}
	Le titre a changé: <strong>{{ change.after }}</strong>
{% endif  %}

{% if key=='spot' %}
	La ville a changé: <strong> {{ change.after.location.city.name }}</strong>
{% endif  %}

{% if key=='sport' %}
	Le sport a changé: <strong> {{ change.after.name }}</strong>
{% endif  %}

{% if key=='price' %}
	Le prix passe de {{ change.before }} à <strong>{{ change.after }} euros</strong>
{% endif  %}

{% if key =='time' %}
	L'heure passe de {{ change.before|date('h:i') }} à <strong>{{ change.after|date('h:i') }}</strong>
{% endif %}

{% if key == 'date' %}
	L'activité aura lieu le <strong>{{ change.after|date('l d F') }}</strong> au lieu du {{ change.before|date('l d F') }}
{% endif %}

{% if key == 'nbmin' %}
	Le nombre minium passe de {{ change.before }} à <strong>{{ change.after }}</strong>
{% endif  %}

{% if key == 'nbmax' %}
	Le nombre maximum passe de {{ change.before }} à <strong>{{ change.after }}</strong>
{% endif  %}

{% if key=='phone' %}
	Le numéro de contact a changé: <strong>{{ change.after }}</strong>
{% endif  %}

{% if key=='description' %}
	La description a changé:
	<p>
		<small>{{ change.after }}</small>
	</p>
{% endif  %}