{% extends "MyUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h3>Connexion</h3>

{% if error %}
    <div>{{ error|trans }}</div>    
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />	

	<div class="control-group">
    	<label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
    	<div class="controls">
    		<i class="icon-form icon-user"></i>
    		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Nom d'utilisateur" />    		
    	</div>
		
	</div>

	<div class="control-group">
		<label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
		<div class="controls">
			<i class="icon-form icon-lock"></i>
			<input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" />			
		</div>
		
	</div>

	<div class="control-group">
	    <label class="control-label"></label>		
	    <div class="controls">
	    	<label for="remember_me" class="radio">
	    		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    		<span>{{ 'security.login.remember_me'|trans }}</span>
	    	</label>
	    </div>
	</div>

	<div class="control-group">	  
		<label class="control-label"></label>	  
	    <div class="controls">
	    	<button type="submit" id="_submit" name="_submit" class="btn btn-info" >{{ 'security.login.submit'|trans }}</button>
	    </div>
	</div>
    
</form>
{% endblock fos_user_content %}
