{% extends 'WsMailerBundle:Template:personal.html.twig' %}

{% block title %}
    <strong>{% if invit.user is defined %} {{ invit.user.username }} {% else %} Bonjour,{% endif %}</strong><br />
    Vous avez reçu une invitation d'un ami !
{% endblock title %}

{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" class="content">
        <tbody>
            <tr height="50">
                <td>
                    <strong>{{ invit.inviter.username|capitalize }}</strong> vous invite à participer au sport :
                </td>
            </tr>
            <tr>
                <td>
                    {% include 'WsMailerBundle:Template:block_event.html.twig' with {'event':invit.event}  %}
                </td>
            </tr>

            {% if invit.content is not null %}
            <tr>
                <td>
                        <table cellpadding="0" cellspacing="0" border="0" style="width:80%; margin:10px 10%; font-size:12px; color:#333">
                            <tbody>
                                <tr>
                                    <td><i style="text-decoration:underline">Message de {{ invit.inviter.username|capitalize }} :</i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <i>" {{ invit.content }} "</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </td>
            </tr>
            {% endif %}

            <tr height="50" style="font-size:80%">
                    <td>
                        Participerez-vous ? <a href="">OUI</a> | <a href="">NON</a> | <a href="{{ invit.event|link2event }}">En savoir +</a>
                        <br/>
                        Discutez de l'événement avec {{ invit.inviter.username|capitalize }} en vous rendant <a href="{{ invit.event|link2event }}">sur cette page</a> !
                    </td>
            </tr> 
            <tr>
                <td style="text-align:right">
                    <br>
                    <small><small><a href="{{path('ws_invitations_add_blacklist',{emails: invited.email}) }}" style="color:#D5D5D5;" >Vous ne souhaitez plus reçevoir d'invitation de coSporturage.fr</a></small></small>
                </td>
            </tr>   
        </tbody>
    </table>
{% endblock content %}