{% extends 'WsMailerBundle:Template:personal.html.twig' %}

{% block title %}
    <strong>{% if invited.user is not null %} {{ invited.user.username|capitalize }}, {% else %} Bonjour,{% endif %}</strong><br />
    Vous avez reçu une invitation d'un ami !
{% endblock title %}

{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" class="content" style="background-color:#FFF;  position: relative; width:100%; padding:0 10%;">
        <tbody>
            <tr height="50">
                <td>
                    <strong>{{ invit.inviter.username|capitalize }}</strong> vous invite à participer au sport :
                </td>
            </tr>
            <tr>
                <td>
                    {# BLOCK_EVENT #}
                    {% include 'WsMailerBundle:Template:block_event.html.twig' with {'event':invit.event}  %}                   
                </td>
            </tr>

            {# MESSAGE PERSO #}
            {% if invit.content is not null %}
            <tr>
                <td>
                        <table cellpadding="0" cellspacing="0" border="0" style="width:80%; margin:10px 10%; font-size:12px; color:#333">
                            <tbody>
                                <tr>
                                    <td><i style="text-decoration:underline">Message de {{ invit.inviter.username|capitalize }} :</i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <i>" {{ invit.content }} "</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </td>
            </tr>
            {% endif %}

            <tr height="50" style="font-size:80%">
                    <td>
                        Participerez-vous ? <a href="{{ path('ws_invited_confirm',{invited:invited.id}) }}">OUI</a> | <a href="{{ path('ws_invited_deny',{invited:invited.id}) }}">NON</a> | <a href="{{ invit.event|link2event }}">En savoir +</a>
                        <br/>
                        Discutez de l'événement avec {{ invit.inviter.username|capitalize }} en vous rendant <a href="{{ invit.event|link2event }}">sur cette page</a> !
                    </td>
            </tr> 
            <tr>
                <td style="text-align:right">
                    <br>
                    <small><small><a href="{{path('ws_invit_blacklist_add',{emails: invited.email}) }}" style="color:#CCC;" >Cliquez-ici si vous ne souhaitez plus reçevoir d'invitation de la part d'amis inscrit sur coSporturage.fr</a></small></small>
                </td>
            </tr>   
        </tbody>
    </table>
{% endblock content %}