{#{% use 'form_div_layout.html.twig' with form_label as base_form_label %}#}

{% block sport_select_multiple_row %}

	{{ block('form_label') }}

    {% block sport_select_multiple_widget %}

	<select name="{{form.vars.full_name }}" id="{{ form.vars.id }}" class="{{ form.vars.attr.class }}" multiple="{{ form.vars.multiple }}" placeholder="sports" tabindex="-1">
		{% for category,choices in form.vars.choices %}
			<optgroup label="{{ category }}">
				{% for sport in choices %}
					<option value="{{ sport.data.id }}" data-icon="{{ sport.data.icon }}">{{ sport.data.name }}</option>
				{% endfor %}
			</optgroup>
		{% endfor %}
	</select>
	
	{% endblock %}

	{{ block('form_error') }}

{% endblock %}
