{% extends '::layout_centered.html.twig' %}

{% block page_content %}

<div class="createInvitation">
	<div class="fresque"></div>
	<div class="white-sheet">           
		<div class="head-sheet">        
			<h1 class="title-sheet">
				Inviter des amis
			</h1>
		</div>

		<div>
		{{ form_start(form) }}

		{{form_row(form.emails) }}
		{{form_row(form.content) }}


		{% if form.event is defined %}
		{{ form_row(form.event) }}
		{% endif %}

		<button class="btn-ws btn-small">Envoyer les invitations</button>
		<a href="{{ path('ws_event_view',{event:event.id,slug:event.slug}) }}" class="btn btn-small">Retourner à l'activité</a>
		{{ form_end(form) }}
		</div>

		{% if invitations|length > 0 %}

		<div class="section section-invitations">
			<h2>Récapitulatif</h2>

			<div class="section-content">
				<table class="table table-striped">

					{% for invitation in invitations %}
						<thead>
							<th><strong>Par {{ invitation.inviter.username }}</strong></th>
							<th></th>
							<th></th>
							<th></th>
						</thead>

						<tbody>
							{% for invited in invitation.invited %}
							<tr>
								<td></td>
								<td>
									{% if invited.user == null %}
										<img src="{{ asset('bundles/myuser/images/avatars/defaults/default10.gif') }}" class="user-avatar" alt=""> {{ invited.email }}
									{% else %}
										<a href="{{ invited.user|link2user }}"><img src="{{ asset(invited.user.avatar.getWebPath) }}" class="user-avatar" alt=""> <strong>{{ invited.user.username|capitalize }}</strong></a>
									{% endif %}
								</td>

								
								<td>
									{% if invited.dateResponse is sameas(null) %}
										<small>envoyé le {{ invited.date|localizeddate("full","full") }}</small>										
									{% else %}
										<small>répondu le {{ invited.dateResponse|localizeddate("full","full") }}</small>
									{% endif %}
								</td>

								<td>
									{% if invited.response is sameas(true) %}
										<span class="label label-success"> Oui </span>
									{% endif %}

									{% if invited.response is sameas(false) %}
										<span class="label label-important"> Non </span>
									{% endif %}

									{% if invited.response is sameas(null) %}
										<span class="label"> En attente </span> - <a class="btn btn-mini" href="{{ path('ws_invit_resend',{invited:invited.id}) }}" title="Renvoyer l'invitation">Renvoyer</a>
									{% endif %}
								</td>

							</tr>
							{% endfor %}
						</tbody>
					{% endfor %}
				</table>
			</div>
		</div>

		{% endif %}



	<div class="clearfix"></div>
	<div class="fresque"></div>  
</div>
{% endblock %}

