{% extends '::layout_centered.html.twig' %}

{% block page_content %}

    <div class="createInvitation">
        <div class="fresque"></div>
        <div class="white-sheet">           
            <div class="head-sheet">        
                <h1 class="title-sheet">
                    Inviter des amis
                </h1>
            </div>

        <div class="col_large">
            {{ form_start(form) }}

                {{form_row(form.emails) }}
                {{form_row(form.name) }}

                {% if form.saved_list is defined %}
                {{ form_row(form.saved_list) }}
                {% endif %}

                {% if form.event is defined %}
                {{ form_row(form.event) }}
                {% endif %}

                <button class="btn btn-large btn-primary">Envoyer les invitations</button>

            {{ form_end(form) }}
        </div>
        
        <div class="clearfix"></div>
        <div class="fresque"></div>
    
    </div>
    
{% endblock %}

