{% extends '::layout_centered.html.twig' %}

{% block page_content %}

<div class="createInvitation">
	<div class="fresque"></div>
	<div class="white-sheet">           
		<div class="head-sheet">        
			<h1 class="title-sheet">
				Inviter des amis
			</h1>
		</div>

		{% if invitations|length > 0 %}

		<div class="section section-invitations">
			<h2>Récapitulatif des invitations</h2>

			<div class="section-content">
				<table class="table table-stripped">

					{% for invitation in invitations %}
						<thead>
							<th><strong>Par {{ invitation.inviter.username }}</strong></th>
							<th></th>
							<th></th>
							<th></th>
						</thead>

						<tbody>
							{% for invited in invitation.invited %}
							<tr>
								<td></td>
								<td>
									{% if invited.user == null %}
										<img src="{{ asset('bundles/myuser/images/avatars/defaults/default'~ random(10) ~'.gif') }}" class="user-avatar" alt=""> {{ invited.email }}
									{% else %}
										<a href="{{ invited.user|link2user }}"><img src="{{ asset(invited.user.avatar.getWebPath) }}" class="user-avatar" alt=""> <strong>{{ invited.user.username|capitalize }}</strong></a>
									{% endif %}
								</td>

								
								<td>envoyé le {{ invited.date|date('d-m-Y') }}</td>

								{% if invited.response is sameas(true) %}
								<td><span class="label label-success">Oui</span></td>
								{% endif %}

								{% if invited.response is sameas(false) %}
								<td><span class="label label-error">Non</span></td>
								{% endif %}

								{% if invited.response is sameas(null) %}
								<td><a href="{{ path('ws_invit_resend',{invited:invited.id}) }}">Renvoyer l'invit.</a></td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					{% endfor %}
				</table>
			</div>
		</div>

		{% endif %}

		<div class="col_large">
		{{ form_start(form) }}

		{{form_row(form.emails) }}
		{{form_row(form.content) }}


		{% if form.event is defined %}
		{{ form_row(form.event) }}
		{% endif %}

		<button class="btn btn-large btn-primary">Envoyer les invitations</button>
		<a href="{{ path('ws_event_view',{event:event.id,slug:event.slug}) }}" class="btn btn-small">Retourner à l'activité</a>
		{{ form_end(form) }}
		</div>

	<div class="clearfix"></div>
	<div class="fresque"></div>  
</div>
{% endblock %}

