{% extends 'WsMailerBundle:Template:personal.html.twig' %}

{% block title %}
    <strong>{% if alert.user is not null %} {{ alert.user.username|capitalize }}, {% else %} Bonjour,{% endif %}</strong><br />
    
    Aprés {{ alert.duration }} mois d'activités, votre alerte arrive à expiration...

{% endblock title %}

{% block content %}
    {% set nb_displayed = 2 %}
    <table cellpadding="0" cellspacing="0" border="0" class="content" style="background-color:#FFF;  position: relative; width:100%; padding:0 10%;">
        <tbody>
            <tr height="50" style="margin-top:10px;margin-bottom:10px;">
                <td>
                    <style type="text/css">
                        .block_event { background-color: #FFF2DA; width:100%; padding:10px; border:1px solid #AAA; }
                    </style>
                    <table cellpadding="0" cellspacing="0" border="0" class="block_event" >
                        <tbody>
                            <tr>
                                <td>
                                    <h2>Cette alerte s'arrête aujourd'hui :</h2>                               
                                    <p>
                                        {% include 'WsEventsBundle:Alert:Blocks/tx_resume.html.twig' with {'alert':alert} %}         
                                    </p>
                                    <p>
                                        {% include 'WsEventsBundle:Alert:Blocks/tx_frequency.html.twig' with {'alert':alert} %}         
                                    </p>                               
                                </td>   
                            </tr>
                        </tbody>
                    </table>              
                </td>
            </tr>
                        
            <tr>
                <td>
                    <strong>Vous pouvez prolonger votre alerte </strong> en cliquant sur les liens suivants :
                    <ul>
                        <li><a href="{{ url('ws_alerts_extend',{nbmonth:1,alert:alert.id}) }}">prolonger d'un mois</a></li>
                        <li><a href="{{ url('ws_alerts_extend',{nbmonth:2,alert:alert.id}) }}">prolonger de 2 mois</a></li>
                        <li><a href="{{ url('ws_alerts_extend',{nbmonth:6,alert:alert.id}) }}">prolonger de 6 mois</a></li>
                    </ul>
                    <p>
                        ou <strong>gérer vos alertes</strong> en <a href="{{ url('ws_alerts_index') }}">cliquant ici...</a>
                    </p>
                </td>
            </tr>

        </tbody>
    </table>
{% endblock content %}