{% extends '::layout_centered.html.twig' %}

{% block page_content %}
	
	<div class="viewevent">
		<div class="fresque"></div>
		<div class="white-sheet">
			
			<section>
				<div class="content-header">
					<div class="header-left">
						<div class="event-sportLogo">
							<span class="ws-icon ws-icon-large ws-icon-halo event-sport-logo ws-icon-{{ event.sport.icon }}"></span>
						</div>
						<h1 class="event-title {% if event.title|length < 30 %}title-big{% endif %}">
							{{ event.title }}
							<br>
							<div class="fb-like" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"> </div>
						</h1>
					</div>

					<div class="header-right">
						<div class="orga-avatar"><img src="" alt="avatar"></div>
						<div class="orga-info">
							<span class="orga-name"><a href="{{ event.organizer|link2profil }}" rel="me author nofollow">{{ event.organizer.username }}</a></span>
							<span class="orga-age">{{ event.organizer.age }}</span>
							<span class="orga-link"><a href="{{ event.organizer|link2profil }}" rel="me author nofollow">Voir son profil</a></span>
						</div>
					</div>
				</div>
			</section>

			{# event actions #}
			<div class="event-action-bar {% if event.confirmed == true %}event-confirmed{% else %}event-pending{% endif %} {% if event.timing == 'past' %}event-finished{% endif %}">
				<div class="event-status">
					{% if event.timing == 'tocome' %}
						{% if event.confirmed %}
							<span>Evénement confirmé <input type="checkbox" id="checkbox-confirmed" checked disable /><label for="checkbox-confirmed"></label></span>
							{{ event.participations|length }} participants
						{% else %}
							<span>En attente<input type="checkbox" id="checkbox-confirmed" disabled/><label for="checkbox-confirmed"></label></span>
							<span class="nb-participant">de {% set nb = event.nbmin - event.participations|length %}{{ nb }}</span>
						{% endif %}
					{% endif %}
					{% if event.timing == 'past' %}
						<span class="label">Cette activité est terminé</span> <span class="nb-partipant"><abbr title="{{ event.time|date('Y-m-d h:i:s') }}" class="date timeago">{{ event.time|date('Y-m-d h:i:s') }}</abbr></span>
					{% endif %}
				</div>
			

				<div class="event-action">
					{% if event.timing == 'tocome' %}
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							{% if event.isAdmin(app.user) == false %}
								{% if event.userParticipate(app.user) %}
									<a class="btn-ws btn-ws-small" rel="nofollow"> 
										<i class="icon icon-ok-sign icon-white"></i>
										Vous participez !
									</a>
									<a class="btn btn-link" href="" rel="nofollow"><i class="icon-remove"></i> Annuler</a>
								{% else %}
									<a class="btn-ws btn-ws-small btn-ws-submit" href="" rel="nofollow">											
											<i class="icon-white icon-plus"></i> Participer !
										</a>
								{% endif %}
							{% else %}
								<a class="btn btn-small" href="" rel="nofollow">Modifier mon annonce</a>	
							{% endif %}	
						{% else %}
							<a class="btn-ws btn-ws-small btn-ws-submit" href="">Connexion</a>
							<a class="btn-ws btn-ws-small btn-ws-submit" href="">Inscription</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
			{# end event actions #}

			{# event data #}
			<article>
				<div class="col_large">
					<h2 class="event-info">
						<span class="ws-icon-calendar" title="Date"></span>
						{{ event.date|date('l d m') }}
					</h2>

					<h2 class="event-info">
						<span class="ws-icon-alarm" title="Heure"></span>
						{{ event.time|date('h:i') }}
					</h2>

					<h2 class="event-info">
						<span class="ws-icon-location-2" title="Ville"></span>
						{{ event.location.city.name }}
						<small>{{ event.location.lastState().name }}</small>
					</h2>

					<h2 class="event-info">
						<span class="ws-icon-map-2" title="Adresse"></span>
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							{{ event.address }}
						{% else %}
							{{ event.shortAddress }}
							<small><a href="">Connectez-vous</a> pour voir la suite de l'adresse</small>
						{% endif %}
					</h2>

					{% if event.phone %}
						<h2 class="event-info">
							<span class="ws-icon-phone" title="Téléphone"></span>
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								{{ event.phone }}
							{% else %}
								<small><a href="">Connectez-vous</a> pour voir le numéro de téléphone</small>
							{% endif %}
						</h2>
					{% endif %}

					<h2 class="event-info">
						<span class="ws-icon-{{ event.sport.icon }}" title="Sport"></span>
						{{ event.sport.name|capitalize }}
					</h2>

					{% if event.description %}
						<div class="event-description">
							<h3>Description de l'activité</h3>
							<div class="block-content">
								<span>{{ event.description }}</span>
							</div>
						</div>
					{% endif %}

					{% if event.timing == 'tocome' and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<div class="block block-action">
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								<a class="btn btn-small" href="" rel="nofollow">Modifier mon annonce</a>
							{% else %}
								{% if event.userParticipate(app.user) %}
									<a class="btn-ws btn-ws-success" rel="nofollow"> 
										<i class="icon icon-ok-sign icon-white"></i>
										Vous participez !
									</a>
									<a class="btn btn-link" href="" rel="nofollow"><i class="icon-remove"></i> Annuler</a>								
								{% else %}
									<a class="btn-ws btn-ws-submit" href="" rel="nofollow">
										<i class="icon-white icon-plus"></i>
										Je veux participer!
									</a>
								{% endif %}
							{% endif %}
						</div>
					{% endif %}

					<div class="event-discussion">
						<h3>Question & Discussion</h3>
						<div class="event-comments">
							
							<< todo >>
						</div>
					</div>
				</div>
			</article>

			<aside>
				<div class="col_small">
					<div class="block block-red event-participants">
						<h3>{{ event.participations|length }} Participants</h3>
						<div class="block-content">
							<ul>
								{% for p in event.participations %}
									<li>
										<a class="user-linklist" href="" rel="me nofollow">
											<img src="" alt="" class="event-avatar event-participant-avatar tooltitop" data-toggle="tooltip" title="{{ p.user.username }} ({{ p.user.age }} )" />
											<p>
												<strong>{{ p.user.username }}</strong>
												<br>
												<small>{{p.user.age}}</small>
											</p>
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					
				</div>
			</aside>
		</div>
	</div>

{% endblock %}