{% extends '::layout_centered.html.twig' %}
{% form_theme form with ':Form:fields.html.twig' %}

{% block page_content %}
	<div class="page-account">
		<div class="container page-container white-sheet">
			<div class="col_small">
				
				<div class="module module-rounded profil">
					<a href="{{ user|link2user }}" class="clearfix">
						<span class="fleft useravatar"><img src="" class="avatar size32" alt="{{ user.username }}" /></span>
						<span class="username">{{ user.username }}</span>
					</a>					
				</div>

				<div class="module module-rounded menu">
					<ul class="dashboard-links">
						<li><i class="icon-user"></i><a href="{{ path('user_profil_edit', { 'action':'account'}) }}">Mon compte</a></li>
						<li><i class="icon-star"></i><a href="{{ path('user_profil_edit', { 'action':'profil'}) }}">Mon profil</a></li>
						<li><i class="icon-picture"></i><a href="{{ path('user_profil_edit', { 'action':'avatar'}) }}">Mon avatar</a></li>
						<li><i class="icon-lock"></i><a href="{{ path('user_profil_edit', { 'action':'password'}) }}">Mon mot de passe</a></li>
						<li><i class="icon-envelope"></i><a href="{{ path('user_profil_edit', { 'action':'mailing'}) }}">Mes préférences mailing</a></li>
						<li><i class="icon-fire"></i><a href="{{ path('user_profil_edit', { 'action':'delete'}) }}">Supprimer mon compte</a></li>
					</ul>
				</div>
			</div>
		

			<div class="col_large">
				<div class="module module-rounded account-form">
										

					{{ form_start(form) }}

					{% if (action == '') or (action == 'account') %}
						<div class="module-header">
							<h2>Mon compte</h2>
						</div>
					
						{{ form_row(form.username) }}
						{{ form_row(form.email) }}
						{{ form_row(form.lang) }}

					{% endif %}


					{% if action == 'profil' %}
						<div class="module-header">
							<h2>Mon Profil</h2>
						</div>

						{{ form_row(form.firstname) }}
						{{ form_row(form.lastname) }}
						{{ form_row(form.description) }}
						{{ form_row(form.gender) }}
						{{ form_row(form.birthday) }}
						{{ form_row(form.location) }}

					{% endif %}


					{% if action == 'avatar' %}
						<div class="module-header">
							<h2>Mon image d'avatar</h2>
						</div>

						{{ form_row(form.avatar.file) }}
						{{ form_row(form.avatar.updated) }}
					{% endif %}

					{% if action == 'mailing' %}
						<div class="module-header">
							<h2>Mes préférences mailing</h2>
						</div>

						{{ form_row(form.settings) }}
						
					{% endif %}


					{% if action == 'password' %}
						<div class="module-header">
							<h2>Mon mot de passe</h2>
						</div>

						{{ form_row(form.oldpassword) }}
						{{ form_row(form.plainPassword) }}

					{% endif %}



					<button class="btn btn-large btn-info" type="submit">Sauvegarder</button>

					{{ form_end(form) }}

				</div>
			</div>

		</div>
		



	</div>

{% endblock %}